@()(implicit request: RequestHeader, lang: Lang)

@templates.sml(routes.Application.cookies("cdl").toString, Messages("views.sml.authentication.banner.title")) {

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight grey">
        <h1 class="heading-large">@Messages("views.sml.scanqrcode.expired.h1")</h1>
      </div>

      <p>@Messages("views.sml.scanqrcode.expired.p1")</p>
      <ul class="list-bullet">
        <li>@Messages("views.sml.scanqrcode.expired.li1")</li>
        <li>@Messages("views.sml.scanqrcode.expired.li2")</li>
        <li>@Messages("views.sml.scanqrcode.expired.li3")</li>
      </ul>

      <h2 class="heading-medium">@Messages("views.sml.scanqrcode.expired.h2")</h2>
      <p>@Messages("views.sml.scanqrcode.expired.p2")</p>
      <p>@Html(Messages("views.sml.scanqrcode.expired.p3"))</p>

      @Html(Messages("views.sml.scanqrcode.expired.button"))

    </div>
  </div>
}